/ - if flash.any?
/   .container.my-2
/     - flash.each_value do |_type, msg|
/       .alert.alert-info
/         = msg

/ <div class="container alert alert-info alert-dismissible fade show" role="alert">Успешно<button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button></div>